requests>=2.31.0
pandas>=2.2.0
python-dotenv>=1.0.1
urllib3<2
streamlit
pytrends
statsmodels
plotly>=4
numpy
packaging

# Para fuzzy matching
rapidfuzz>=3.0.0

# Para PDF
fpdf2
kaleido==0.2.1

# Para Excel
openpyxl
xlrd<=2.0.1
